body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;

}

nav a {
    text-decoration: none;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}

.header {
    background-color: burlywood;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile {
    width: 500px;
}

.banner-wlecome {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    color: #181818;

    font-size: 85px;

    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;

}

.intro {
    margin-top: 5px;


}

.content {
    max-width: 1000px;
}

/*Section*/
/*About*/
.about {
    border-radius: 10px;
    background: #fff3f3;
    padding: 130px;
    margin: 130px 0;
}

.about-title {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}

.about-content {
    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}